<style>
 
    .mynav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: black;
      padding: 30px;
      margin-left: 0px;
      margin-top: 0%;
      margin-left: 0%;
    }
    .div1 a {
      font-size: 20px;
      color: antiquewhite;
      text-decoration: none;
      padding-right: 20px;
      padding-left: 20px;
    }
   
    .div2 a {
      font-size: 20px;
      color: antiquewhite;
      text-decoration: none;
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .div3 a {
      font-size: 20px;
      color: antiquewhite;
      text-decoration: none;
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .div4 a {
      font-size: 20px;
      color: antiquewhite;
      text-decoration: none;
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .div5 a {
      font-size: 20px;
      color: antiquewhite;
      text-decoration: none;
      padding-right: 20px;
      padding-left: 20px;
    }
   
    
  </style>
</head>
<body>
  <nav class="mynav">
    <div class="div1"><a href="/">Home</a></div>
    <div class="div2"><a href="customer">Customer</a></div>

  </nav>